@media screen and (min-width:480px) and (max-width:886px) {
    /*
     * [header]のスタイルシート
     */
    .back{
        height:350px;
    }
    .nav1{
        width:40px;
        height:40px;
    }
    .nav1 img{
        padding-left:10px;
        padding-top:5px;
        width:17px;
    }
    .nav1 p{
        padding-left:3px;
        font-size:11px;
        margin-top:-3px;
    }
    .nav2{
        width:40px;
        height:40px;
    }
    .nav2 img{
        padding-left:10px;
        padding-top:5px;
        width:20px;
    }
    .nav2 p{
        padding-left:2px;
        font-size:10px;
        margin-top:-5px;
    }
    .profile{
        width:300px;
        position:absolute;top:50px;right:50px;
    }
    .name1{
        margin-top:-300px;
        margin-left:50px;
        font-size:55px;
        letter-spacing: 3px;
    }
    .name2{
        margin-top:-80px;
        margin-left:50px;
        font-size:55px;
        letter-spacing: 6px;
    }
    .name3{
        margin-left:50px;
        margin-top:-60px;
        font-size:18px;
        letter-spacing: 2px;
    }
    .job{
        margin-left:50px;
        margin-top:-13px;
        font-size:14px;
        letter-spacing: 2px;
    }
   /*
    * [about]のスタイルシート
    */
    .about{
        margin-top:105px;
        height:300px;
        border:solid 1px;
        text-align: center;
        position:relative;
    }
    .about-title{
        font-size:22px;
        margin-left:40px;
        padding-top:20px;
    }
    .skill1{
        margin-left:40px;
        font-size:10px;
    }
    .skill2{
    margin-top:-5px;
    margin-left:40px;
    font-size:10px;
    }
    .intro{
    font-size:10px;
    margin-left:40px;
    }
    .mail{
    padding-top:5px;
    font-size:10px;
    margin-left:40px;
    }
    .sns{
    margin-left:40px;
    }
    .github{
    width:20px;
    }
    .in{
    margin-left:10px;
    width:20px;
    }
    .pc-area{
        display:none;
    }
   /*
    * [projects-twitter]のスタイルシート
    */
    .projects{
        text-align: center;
    }
    .twitter-back{
        width:100%;
        height:750px;
    }
    .projects-title{
        margin-top:-730px;
        font-size:30px;
        margin-left:0px;
    }
    .twitter-title-mini{
        display:block;
        color:white;
        font-size:24px;
        letter-spacing: 2px;
    }
    .twitter-img{
        width:300px;
        margin-left:0px;
        margin-top:-5px;
    }
    .twitter-content{
        display:block;
    }
    .twitter-detail{
        color:white;
        margin-left:0px;
    }
    .twitter-title{
        display:none;
    }
    .twitter-detail2{
        display:block;
        font-size:14px;
        margin-top:30px;
        letter-spacing: 2px;
    }
    .twitter-detail4{
        margin-top:-10px;
        letter-spacing: 2px;
    }
    .twitter-detail3{
        font-size:14px;
        margin-top:-10px;
        letter-spacing: 2px;
    }
    .acount{
        font-size:18px;
        margin-top:30px;
    }
    .twitter-mail{
        font-size:14px;
        margin-top:-10px;
        letter-spacing: 2px;
    }
    .twitter-pass{
        font-size:14px;
        margin-top:-10px;
        letter-spacing: 2px;
    }
    .twitter-link{
        display:flex;
        margin:auto;
        width:180px;
    }
    .twitter-web-link{
        text-decoration: none;
    }
    .twitter-web{
        background-color:white;
        color:#777976;
        width:70px;
        height:25px;
        padding-top:3px;
        padding-left:8px;
    }
    .twitter-github{
        border:solid 1px white;
        color:white;
        margin-left:20px;
        width:70px;
        height:25px;
        padding-top:3px;
        padding-left:5px;
    }
   /*
    * [projects-netflix]のスタイルシート
    */
    .netflix{
        height:640px;
        text-align: center;
    }
    .netflix-clone{
        display:block;
        font-size:24px;
        letter-spacing: 2px;
        margin-top:60px;
    }
    .netflix-box{
        display:block;
    }
    .netflix-img{
        width:300px;
        height:300px;
        margin-left:0px;
    }
    .netflix-content{
        margin-left:0px;
    }
    .netflix-title{
        display:none;
    }
    .netflix-detail1{
        font-size:14px;
        letter-spacing: 2px;
        margin-top:-40px;
    }
    .netflix-detail2{
        font-size:14px;
        letter-spacing: 2px;
        margin-top:-15px;
    }
    .netflix-acount{
        font-size:18px;
        margin-top:30px;
    }
    .netflix-mail{
        font-size:14px;
        margin-top:-15px;
        letter-spacing: 1px;
    }
    .netflix-pass{
        font-size:14px;
        margin-top:-15px;
        letter-spacing: 1px;
    }
    .netflix-link{
        text-decoration: none;
        display:flex;
        margin:auto;
        width:160px;
    }
    .netflix-web-link{
        text-decoration: none;
    }
    .netflix-web{
        border:solid 1px #707070;
        color:black;
        width:72px;
        height:25px;
        padding-top:3px;
        padding-left:3px;
    }
    .netflix-github{
        background-color:#303030;
        margin-left:20px;
        color: white;
        width:73px;
        height:25px;
        padding-top:3px;
        padding-left:4px;
    }
   /*
    * [contacts]のスタイルシート
    */
    .contacts{
        height:180px;
        margin-top:-26px;
    }
    .contacts-title{
        font-size:20px;
        padding-top:50px;
    }
    .contacts-tell-img{
        width:18px;
        height:23px;
        margin-top:-5px;
    }
    .contacts-tell p{
        margin-top:-5px;
    }
    .contacts-mail-img{
        width:23px;
        height:23px;
        margin-top:3px;
    }
    .contacts-mail p{
    margin-top:3px;
    }
    .rights{
    height:30px;
    }
    .rights p{
    padding-top:10px;
    font-size:10px;
    }

}