@media screen and (min-width:886px) and ( max-width:1135px){
    /*
     * [header]のスタイルシート
     */
    .back{
        height:500px;
    }
    .profile{
        width:450px;
        position:absolute;top:50px;right:80px;
    }
    .name1{
        margin-top:-430px;
        margin-left:100px;
        font-size:100px;
        letter-spacing: 7px;
    }
    .name2{
        margin-top:-150px;
        margin-left:100px;
        font-size:100px;
        letter-spacing: 10px;
    }
    .name3{
        margin-left:100px;
        margin-top:-120px;
        font-size:24px;
        letter-spacing: 3px;
    }
    .job{
        margin-left:100px;
        margin-top:-15px;
        font-size:18px;
        letter-spacing: 7px;
    }
   /*
    * [about]のスタイルシート
    */
    .about{
        margin-top:120px;
        height:400px;
        border:solid 1px;
        position:relative;
    }
    .about-title{
        font-size:26px;
        margin-left:80px;
        padding-top:40px;
    }
    .skill1{
        margin-left:80px;
        letter-spacing: 1px;
        font-size:14px;
    }
    .skill2{
    margin-top:-10px;
    margin-left:80px;
    letter-spacing: 1px;
    font-size:14px;
    }
    .intro{
    font-size:13px;
    margin-left:80px;
    }
    .mail{
    padding-top:7px;
    font-size:14px;
    margin-left:80px;
    }
    .sns{
    margin-left:80px;
    }
    .github{
    width:25px;
    }
    .in{
    margin-left:15px;
    width:25px;
    }
    .pc-area{
    width:500px;
    position:absolute;top:0px;right:0px;
    overflow: hidden;
    }
    .pc{
    width:600px;
    }
   /*
    * [projects-twitter]のスタイルシート
    */
    .projects{
        position:relative;
    }
    .twitter-back{
        width:100%;
        height:400px;
    }
    .projects-title{
        margin-top:-375px;
        font-size:26px;
        margin-left:80px;
    }
    .twitter-img{
        width:320px;
        margin-left:80px;
        height:303px;
        margin-top:0px;
    }
    .twitter-detail{
        position:absolute;right:50px;top:70px;
    }
    .twitter-title{
        font-size:22px;
    }
    .twitter-detail2{
        display:flex;
        font-size:14px;
        margin-top:-20px;
    }
    .twitter-detail3{
        font-size:14px;
        margin-top:-10px;
    }
    .acount{
        font-size:18px;
        margin-top:30px;
    }
    .twitter-mail{
        font-size:14px;
        margin-top:-10px;
    }
    .twitter-pass{
        font-size:14px;
        margin-top:-10px;
    }
    .twitter-link{
        display:flex;
    }
    .twitter-web-link{
        text-decoration: none;
    }
    .twitter-web{
        background-color:white;
        color:#777976;
        width:70px;
        height:25px;
        padding-top:3px;
        padding-left:8px;
    }
    .twitter-github{
        border:solid 1px white;
        color:white;
        margin-left:20px;
        width:67px;
        height:25px;
        padding-top:3px;
        padding-left:8px;
    }
   /*
    * [projects-netflix]のスタイルシート
    */
    .netflix{
        height:380px;
        border-bottom:solid 1px;
    }
    .netflix-clone{
        display:none;
    }
    .netflix-box{
        display:flex;
    }
    .netflix-img{
        width:320px;
        height:300px;
        margin-left:80px;
    }
    .netflix-content{
        position:absolute;top:360px;right:100px;
    }
    .netflix-title{
        font-size:22px;
        font-weight: normal;
    }
    .netflix-detail1{
        font-size:14px;
        letter-spacing: 2px;
        margin-top:-15px;
    }
    .netflix-detail2{
        font-size:14px;
        letter-spacing: 2px;
        margin-top:-10px;
    }
    .netflix-acount{
        font-size:18px;
        margin-top:15px;
    }
    .netflix-mail{
        font-size:14px;
        margin-top:-15px;
    }
    .netflix-pass{
        font-size:14px;
        margin-top:-15px;
    }
    .netflix-link{
        text-decoration: none;
        display:flex;
    }
    .netflix-web-link{
        text-decoration: none;
    }
    .netflix-web{
        border:solid 1px #707070;
        color:black;
        width:70px;
        height:25px;
        padding-top:3px;
        padding-left:8px;
    }
    .netflix-github{
        background-color:#303030;
        margin-left:20px;
        color: white;
        width:67px;
        height:25px;
        padding-top:3px;
        padding-left:10px;
    }
    
}